.App {
  text-align: center;
  color: #CBD2DC;
  width: 100%;
}

.profile-picture{
  height: 20vmin;
  pointer-events: none;
  border-radius: 360px;
  margin-left: 5px;
  margin-top: 5px;
  border: solid;
  border-color: #D99F6C;

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #C58E56;
  min-height: 5vh;
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-text{
  color: #D4DBE3;
  margin: 5px;
  font-size: 24px;
}



.App-body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../media/tokyo.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2C2D25;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0D0D0D;
}
.text-Links{
  font-size: 18px;
  margin-right: 20px;
  color: #F1E5D8;
  font-weight: bold;
}
.Links{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Icon {
  margin-left: 10px;
  height: 2vmin;
  color: #F1E5D8;
  text-decoration: none;
}

.Icons{
  display: flex;
}
.homeText{
  margin: 10px;
  color: #C58E56;
}
a:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}
h1:hover{
  cursor:default;
}

p:hover{
  cursor: default;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
